html, body {
	margin: 0;
}

.pagewrap {
	width: 100%;
}

header {
	width: 100%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
	background-color: #555;
}

li {
	float: left;
}
        
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 8px 16px;
	text-decoration: none;
}
        
li a:hover {
	background-color: #000;
}

.active {
	background-color: rgb(4, 145, 155);
	color: white;
}
